
aiofiles                
annotated-doc           
annotated-types         
anyio                   
asyncpg                 
blinker                 
certifi                 
charset-normalizer      
click                   
colorama                
contourpy               
cycler                  
deep-sort-realtime      
dlib                    
face-recognition        
face_recognition_models 
fastapi                 
filelock                
Flask                   
fonttools               
fsspec                  
greenlet                
h11                     
httptools               
idna                    
itsdangerous            
Jinja2                  
kiwisolver              
MarkupSafe              
matplotlib              
mpmath                  
networkx                
numpy                   
opencv-python           
packaging               
pillow                  
pip                     
polars                  
polars-runtime-32       
psutil                  
pydantic                
pydantic_core           
pydantic-settings       
pyparsing               
pytesseract             
python-dateutil         
python-dotenv           
python-multipart        
PyYAML                  
pyzbar                  
requests                
scipy                   
setuptools              
six                     
SQLAlchemy              
starlette               
sympy                   
typing_extensions       
typing-inspection       
ultralytics             
ultralytics-thop        
urllib3                 
uvicorn                 
watchfiles              
websockets              
Werkzeug                
